.container {
    /* Existing styles for the container */
    width: 300px; /* Example width */
    background-color: white; /* Example background */
    padding: 20px; /* Example padding */
    border-radius: 10px; /* Example rounded corners */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.image {
    width: 100%; /* Make the illustration image responsive within the container */
    border-radius: 5px; /* Optional: round the corners of the image */
    margin-bottom: 15px; /* Add some space below the image */
}

h1 {
    color: black; /* Changed text color to black */
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px; /* Optional: Add some padding for better visual appearance */
    display: inline-block; /* Ensure background only takes the width of the text */
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 0.9rem; /* Slightly smaller font size for paragraphs */
    color: hsl(0, 0%, 50%); /* Example color */
    line-height: 1.5; /* Improve readability */
    margin-bottom: 10px;
}

.publish-date {
    color: black; /* Set the text color to black */
    font-size: 0.8rem; /* You might want to adjust the font size as well */
    margin-bottom: 5px; /* Adjust the margin below if needed */
}

h2 {
    color: hsl(0, 0%, 7%); /* Example color */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    cursor: pointer; /* Indicate it's interactive */
    font-style: bold; /* Make the title bold */
}

h2:hover {
    color: hsl(47, 88%, 63%); /* Example hover color */
}

.author-info {
    display: flex; /* Enable flexbox for the author info div */
    align-items: center; /* Vertically align items in the center */
    margin-top: 20px;
}

.author-info img {
    width: 40px; /* Adjust the size of the avatar */
    border-radius: 50%; /* Make it circular */
    margin-right: 10px; /* Add some space between the image and text */
}

.author-info p {
    margin: 0; /* Remove default margins from the paragraph */
    color: hsl(0, 0%, 7%); /* Example color for the name */
    font-weight: bold; /* Make the name bold */
}

.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }